/*
 * AnimatedBackground.module.css
 * @Author: Ahmed Emad Nasr
 * @Description: A component that displays an animated background with bubbles and meteors.
 */

.canvas {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: -1;
  
  /* التعديلات الجديدة لتحسين الأداء */
  will-change: transform;
  backface-visibility: hidden;
  pointer-events: none; /* عشان تضمن إن الماوس يضغط على الزراير اللي فوقه */
  background-color: #000; /* خلفية سوداء أساسية */
}
