/*
 * custom-cursor.module.css
 * @Description: Modern Custom Cursor — Dot (Optimized & Lightweight)
 */

.cursorDot {
  position: fixed;
  top: 0;
  left: 0;
  transform: translate(-50%, -50%);
  pointer-events: none;
  z-index: 9999;
  border-radius: 50%;
  will-change: transform;

  width: 8px;
  height: 8px;
  background-color: var(--main-color);
  box-shadow: 0 0 10px var(--main-color);
}